/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFE5; /* Fondo amarillo claro */
    color: #333; /* Color de texto principal */
    line-height: 1.6;
    font-size: 18px;
}

.imagenInicio {
    width: 500px;
    height: 300px;
}

.textoImagen {
    font-size: 20px;
}

.contenedorFooter {
    background-color: beige;
}

.footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: 16px;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}